* {
    font-family: Tahoma;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Main section styles */
section {
    width: 100dvw;
    height: 90dvh;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
